# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!www/
!www/**/*
!automations/
!automations/**/*
!scripts/
!scripts/**/*

# Ignore folders.
.storage
.cloud
.google.token

# Ignore files.
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

*.gz

._*
**/._*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
